<% layout('/layouts/boilerplate') %>
    <div class="row justify-content-center">
        <div class="card col-10 col-md-6 text-center text-white bg-danger mb-3">
            <div class="card-header"><h3>Error</h3></div>
            <div class="card-body">
                <h4 class="card-title">
                    <%= err.status %>
                </h4>
                <p class="card-title">
                    <%= err.message %>
                </p>
            </div>
        </div>
    </div>