<% layout('layouts/boilerplate') %>
<div class="row text-center align-items-center">
  <div class="col-md-6">
      <div class="m-5">
        <h1>Link all your profiles and files at one place</h1>
        <p style="font-size: large;">Connect audiences to all of your content with just one link</p>
        <a href="/signup" class="btn btn-outline-dark">Get Started</a>
      </div>
  </div>
  <div class="col-md-6">
      <div class="row justify-content-center">
          <div class="col-10 col-md-12 col-lg-9 col-xl-6">
            <img src="/images/Frame.png" class="frameimg my-4" />
          </div>
      </div>
  </div>
</div>
<div class="row mb-4 text-center align-items-center">
    <div class="col-md-6 order-2 order-md-1">
        <div class="row justify-content-center">
            <div class="col-11 col-md-12 col-xl-9">
                <img src="/images/apps.png" class="appimg">
            </div>
        </div>
    </div>
    <div class="col-md-6 order-1 order-md-2">
        <div class="m-5">
            <h2>Link to everywhere,<br>Use it anywhere</h2>
            <p style="font-size: large;">Take your linkrofile wherever your audience is, to help them to discover all your content</p>
        </div>
    </div>
</div>